<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-american-sign-language-interpreting"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MySimplesoft<sup>TM</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Menu Absensi -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Log Absensi</span></a>
    </li>

    <!-- Nav Item - Menu Users -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Users</span></a>
    </li>

     <!-- Nav Item - Menu Login Users  -->
     <% if (user.role === 'admin') { %>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa fa-id-card"></i>
                <span>Login User</span></a>
        </li>
    <% } %>

    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>Request Data </span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span> Rekap Laporan </span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->